{% extends "index.html" %}
{% block head %}
<style>
    .table1{
    border:1px solid black;
    border-collapse:collapse;
    margin-bottom:2em;
}
th{
    color:#848484;
    background-color:#2B2D2C;
    border:1px solid black;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    padding:10px;
}
.td1{
    border:1px solid black;
    padding:5px;
    background-color: #FAFAFA;
    color:black;
    text-align: center;
    width: 200px;
}
</style>
{% endblock %}
{%block content %}

<div class="form-horizontal" style="text-align: center;">
    <div style="margin-top:7em"><h6><b>Diagnostics</b></h6></div>

          <table style="margin-left:auto;margin-right: auto;margin-top: 2em;" class="table1">
            <tr >
                <th>
                    Patient ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Address
                </th>
                <th>
                    DOJ
                </th>
                <th>
                    Type of Room
                </th>
            </tr>
            <tr>
                <td class="td1">1234</td>
                <td class="td1">Joseph</td>
                <td class="td1">56</td>
                <td class="td1">Ameerpet,Hyderabad</td>
                <td class="td1">03-May-2020</td>
                <td class="td1">Single</td>
                
            </tr>
   
                  
          </table>
        </div>
    </div>
          <div class="form-horizontal" style="text-align: center;">
            <div style="margin-top:2em"><h6><b>Diagnostics conducted</b></h6></div>
        
                  <table style="margin-left:auto;margin-right: auto;margin-top: 2em;" class="table1">
                    <tr >
                        <th>
                            Name of the test
                        </th>
                    
                        <th>
                            Amount
                        </th>
                    </tr>
                    <tr>
                        <td class="td1">CBP</td>
                        
                        <td class="td1">Rs.1500</td>
                        
                    </tr>
           
                          
                  </table>
                  <button type="button" class="btn btn-primary" Style="color:white;background-color:black;border-radius: 8px;">Add Diagnostics</button>
                </div>
            </div>
            <div class="form-horizontal" style="text-align: center;">
                <div style="display: inline-block;text-align:end">
                  <table style="margin-left:auto;margin-right: auto;margin-top: 2em;" class="table1">
                    <tr >
                        <th>
                            Name of the test
                        </th>
                        
                        <th>
                            Amount
                        </th>
                    </tr>
                    <tr>
                        <td class="td1">ECG</td>
                       
                        <td class="td1">Rs.3000</td>
                        
                    </tr>
                    </table>
                    <button type="button" class="btn btn-primary" Style="color:white;background-color:black;border-radius: 8px;margin-top:0px;">Add</button>

              </div>
     

              
                </div>   
                
                {% endblock %}
